body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.intro,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 16px 96px 48px 96px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 32px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.main-text {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.intro img {
    width: 400px;
    height: 200px;
}

h3 {
    margin: 0;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 60px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 48px 0;
}

.pictures img {
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.text {
    width: 150px;
    font-size: 18px;
    color: #1f2937;
    margin: 8px;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.message {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
}

button {
    width: 100px;
    height: 25px;
    color: #e5e7eb;
    border-style: solid;
    border-radius: 5px;
    background-color: #3882f6;
    border-color: #3882f6;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    padding: 32px 0;
}

.end {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    background-color: white;
}

.end button {
    border-color: white;
    align-self: center;
}

.ad {
    display: flex;
    background-color: #3882f6;
    align-items: center;
}

.sign-up {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    
}
